server {
    listen 3000;

    server_name nginxbackend;

    location / {
        proxy_pass http://backend:3000;
        proxy_set_header Host $host;
        proxy_set_header x-Forward-For $proxy_add_x_forwarded_for;
    }
}

server {
    listen 8080;

    server_name nginxadminer;

    location / {
        proxy_pass http://adminer:8080;
        proxy_set_header Host $host;
        proxy_set_header x-Forward-For $proxy_add_x_forwarded_for;
    }
}